<script>
    function createToast(t) {
        switch (t) {
          case 'success':
            $.toast('지원 완료', {
              //sticky: true,
              duration: 2000,
              type: 'success'
            });
            return;
        }
      }
      
    $(function(){
      $('#menu').remove();
      
      $('.success').on('click', function(){
        var con = confirm('지원하시겠습니까?');
        if(con == false) {
          return;
        }
        var f = document.writeForm;
        f.submit();
      });
    });
</script>

<div id="wrap" class="st_info">
  <form method="post" name="writeForm" action="/active/createApplication">
    
  <div id="top_title2"><i class="fas fa-chevron-left" onClick="history.back();"></i> 상세정보</div>
  
   <!--업체정보 상단-->
    <div class="st_top">
        <div class="icon_fav"><i class="far fa-star"></i></div>
        
        <div class="img"><img src="http://cdnimage.ebn.co.kr/news/201710/news_1509339728_915222_main1.jpg"></div>
       
        <div class="info">
            <div class="title">
              <%= @bussiness.bs_name %>
              <span>서울, 선릉로</span>
              <span class="loc">200m</span>
            </div>
              
            <a href="#" class="tag">#매장관리</a>
            <a href="#" class="tag">#캐셔</a>
            <a href="#" class="tag">#당일지급</a>
        </div>
    </div>    
    <!--store info top-->
    
    <div id="graybar"></div>

  
      <div class="st_content">
        
        <table>
          <tr>
            <th>날짜</th>
            <td><%= @job.date %> </td>
          </tr>
          
          
          <tr>
            <th>시간</th>
            <td><%= @job.time_start %>시 ~ <%= @job.time_end %>시</td>
          </tr>
          
          
          <tr>
            <th>시급 </th>
            <td>
              <%= @job.pay %>원 <span class="total">예상 알바비 : 300,000원</span></td>
          </tr>
          
          <tr>
            <th>상세내용</th>
            <td><%= @job.etc %></td>
          </tr>
        
          
          <tr>
            <th>지원자 현황</th>
            <td><%= @job.personnel %>명 모집 / <%= @job.personnel_cnt %>명 지원</td>
          </tr>
          
          
          <tr>
            <th colspan="2">위치보기
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4742.758245057024!2d127.02914502952132!3d37.498215433731964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdbf9af292beff3c!2z6rCV64Ko!5e0!3m2!1sko!2skr!4v1568972348911!5m2!1sko!2skr" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </th>
          </tr>
    
        </table>

      </div>
  

  
          
      <input type="hidden" name="job_id" value=<%= @job.id %>>
      <div class="success btn_apply"><i class="far fa-edit"></i> 지원하기</div>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>


</div>



